// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.markdown-document {
  .btn {
    padding-top: 1px;
    margin-top: 3px;
    margin-bottom: -3px;
}

.panel-body {
  width: 14vw;
  height: 96vh;
  overflow: auto;
}
ul {
  margin-left: -2em;
}
li {
  list-style: none;
}

li a {
    font-size: 1.1em;
}
li input[type='checkbox'] + label {
    padding-right: 0.7em;
    font-size: 1.1em;
}

li input[type='checkbox'] + label:before {
  font-family: "Octicons Regular";
  content:'\f078';
}
li input[type='checkbox']:checked + label:before {
    content:"\f0a3";
}

li input[type='checkbox'] {
  display: none
}
  li input + label + a + ul
  {
    display: none
  }

li input:checked + label + a + ul
{
  display: block
}

li a:only-child {
    padding-left: 1.3em;
}

}
